<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <title>批踢踢分類預測</title>
    <script defer src="/static/script.js"></script>
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <h2>批踢踢分類預測</h2>

    <div id="wrapper">
      <input id="title-input" placeholder="輸入文章標題⋯" />
      <button id="predict-btn">預測</button>

      <div id="result-block" style="display: none">
        <div id="result">
          <a id="pred-link" href="#" target="_blank"
            >預測結果：<span id="pred-label"></span
          ></a>
        </div>
        <div id="separate"></div>
        <div id="result">選擇您認為更正確的分類</div>
        <div id="suggestions"></div>
      </div>
    </div>
  </body>
</html>
